img{
    height: 500px;
    width:500px;
}
button {
    margin-left: 10%;
    background-color: #4CAF50; /* Green */
   outline: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition: .5s;
  }
  #Switch:hover{
    background-color: aqua;
color: black;

  }